/* .manUrl{
    display: none;
} */

table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
.machine_dropdown{
    width: 100%;
}

.machine_url_div{
    display: none;
}

.machine_image_box{
    display: none;
}

.responsive {
    width: 25%;
    height: 25%;
}

.select2-result {
    margin-bottom: 10px;
}