#publication_section{
    display: none;
}

#loading_publications{
    text-align: center;
}

#loading_publications > i{
    font-size:80px;
    color: #003C6D;
}

#doi_validation_message{
    color: red;
    font-size: small;
}

.fa.fa-trash-o{
    color: red;
    font-size: 17px;
}